<launch>


<!-- start moveit and robot 
  <arg name="fake_vision" default="false"/>
  <arg name="fake_gripper" default="false"/>
  <arg name="fake_pose_estimator" default="false"/> -->
  
  
 
    <node type="master_sm.py" pkg="lenny_state_machine" name="master_sm" output="screen" required="true" />

 <!-- <node type="tool_master_sm.py" pkg="lenny_state_machine"
   name="tool_master_sm" output="screen" required="true"/> -->

  <!--    <node type="pick_tool_sm.py" pkg="lenny_state_machine" name="pick_tool_sm" output="screen" required="true"/>-->

</launch>


