 <launch>


	<!-- LAUNCH PARAMETERS -->
	<arg name="fake_vision" default="true"/>
	<arg name="fake_gripper" default="true"/>
	<arg name="fake_robot" default="true"/>

	<!-- LOAD TASK PARAMETERS to parameter server -->
	<include file="$(find lenny_data)/launch/task_params.launch"/>
	


	<!--<param name="lenny_task/fake_vision" value="$(arg fake_vision)" type="string" />-->
	<!--<param name="lenny_task/fake_gripper" value="$(arg fake_gripper)" type="string" /> -->

  
  
	<!-- LOAD  ROBOT -->
	<!-- Only when running everything in the same computer -->

	<group if ="$(arg fake_robot)" >
		<include file="$(find lenny_moveit_config)/launch/demo.launch"/>
	</group>  
	<group unless ="$(arg fake_robot)" >  
		<include file="$(find lenny_moveit_config)/launch/moveit_planning_execution.launch"/> 
	</group> 

 
 
	<!-- LOAD  GRIPPERS -->
	<group unless ="$(arg fake_gripper)" >

		<!-- Launch ACTION SERVER GRIPPER 2F -->
		<include file="$(find robotiq_2f_gripper_control)/launch/robotiq_action_server.launch">
			<arg name="comport" default="/dev/ttyUSB3" />
		</include>

		<!-- GRIPPER 3F -->
		<!-- Do not forget to execute: sudo chmod 777 /dev/ttyU* -->
		<include file="$(find gripper3f_control)/launch/gripper3f_bringup.launch"> 
			<arg name="comport" default="/dev/ttyUSB1"/> 
		</include>

		<!-- VACUUM -->
		<!-- Do not forget to execute: sudo chmod 777 /dev/ttyU* -->
		<node name="control_outputs" pkg="motoman_variables" type="control_outputs" output="screen" />

	</group> 
  
  
 
	<!-- LOAD MOTION PARAMETERS to parameter server -->
	<include file="$(find lenny_data)/launch/motion_params.launch"/>
	

	<!-- START motion executor. -->
	<node name="motion_executor" pkg="lenny_motion" type="motion_executor" output="screen" />

  
  
  
	<!-- to load params-->
	<!--<rosparam command="load" file="$(find pick_and_place)/config/motomanSDA10F/pick_and_place_parameters_right.yaml"/>-->
	<!--<param name="vision_sim" value="$(arg vision_sim)" type="string" />-->
	
  
	<!-- If We are in simulation mode run fake vision systems ??? -->
	<!-- <group if ="$(arg vision_sim)" >
	vision_ node for simulation
	<node 
	  pkg="vision" 
	  type="vision_node" 
	  name="vision_node" 
	  output="screen" 
	  respawn="true" 
	  launch-prefix="xterm -e" >
	</node>
	</group>-->
  
</launch>


